
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BookStore</title>
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
	<section class="py-10 flex justify-center">
		<div class="w-10/12">
		<h1 class="text-center text-4xl">{{book.title}}</h1>

	<div class="flex justify-between mt-10">
		<div class="flex justify-between">
		
			<div class="w-3/12">
		   <img src="{{ book.thumbnailUrl }}" alt="" width="200"/>
		
	    </div>

			<div class="w-9/12">

		<p class="text-3xl">About</p>
		<p class="text-gray-600-mt5">{{book.shortDescription}}</p>

		<div class="mt-10">
			<p class="text-3xl">Author</p>
			<p class="text-gray-600-mt5">{{book.authors|join:", "}}</p>
		</div>

		<div class="mt-10">
			<p class="text-3xl">Descriptions</p>
			<p class="text-gray-600-mt5">{{book.longDescription}}</p>
		</div>

	</div>
	</div>

	</section>
</body>
</html>

